In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [38]:
train=pd.read_csv("train.csv")
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
test=pd.read_csv("test.csv")
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
train_label = train.label
train_label.head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [43]:
train=train.drop(columns=["label"])
train.columns

Index(['pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5', 'pixel6',
       'pixel7', 'pixel8', 'pixel9',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=784)

In [44]:
# нормализированные значния [0;1] типа numpy
scaler = StandardScaler().fit(train)
train_std = scaler.transform(train)
test_std = scaler.transform(test)

In [45]:
# Reshape the numpy array into a 4D array
X_train = train_std.reshape(train_std.shape[0],28,28,1)
X_test = test_std.reshape(test_std.shape[0],28,28,1)

In [46]:
import tensorflow as tf
from tensorflow.keras.datasets import mnist

In [47]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_shape=(28, 28, 1)),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(10, activation='softmax')
])

In [50]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [51]:
model.fit(X_train, train_label, epochs=5)

Epoch 1/5
1313/1313 [==============================] - 5s 3ms/step - loss: 0.2667 - accuracy: 0.9249
Epoch 2/5
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1151 - accuracy: 0.9659
Epoch 3/5
1313/1313 [==============================] - 3s 3ms/step - loss: 0.0760 - accuracy: 0.9763
Epoch 4/5
1313/1313 [==============================] - 3s 2ms/step - loss: 0.0569 - accuracy: 0.9833
Epoch 5/5
1313/1313 [==============================] - 3s 2ms/step - loss: 0.0377 - accuracy: 0.9878

In [52]:
predictions=model.predict(X_test)
predictions

875/875 [==============================] - 2s 2ms/step

array([[5.1897462e-11, 1.2784914e-17, 1.0000000e+00, ..., 4.3873152e-12,
        7.9905039e-13, 7.6345018e-13],
       [1.0000000e+00, 1.5191392e-12, 9.6705721e-10, ..., 3.8476147e-09,
        3.4938504e-13, 2.0880337e-12],
       [2.0438824e-07, 1.5411089e-04, 4.6636580e-04, ..., 1.2426582e-03,
        9.4434532e-04, 9.9156672e-01],
       ...,
       [1.8729482e-15, 4.1585485e-13, 7.6009178e-11, ..., 3.6763886e-12,
        5.6394389e-10, 6.6062697e-08],
       [5.2508199e-11, 1.4621702e-13, 1.7224961e-09, ..., 2.9687019e-06,
        3.9521343e-08, 9.9956876e-01],
       [4.3950493e-11, 8.2381909e-14, 9.9996972e-01, ..., 1.3394136e-13,
        8.7846501e-12, 7.4366722e-09]], dtype=float32)

In [53]:
predictions=model.predict(X_test)
predicted_labels=np.argmax(predictions,axis=1)
submission=pd.DataFrame({"ImageId":range(1,len(predicted_labels)+1),"Label":predicted_labels})
submission.to_csv("submission.csv",index=False)
submission=pd.read_csv("submission.csv")
print(submission)

875/875 [==============================] - 2s 2ms/step
       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]